@import '../styles/base/variables';
@import '../styles/util/mixins';
@import '../styles/base/colors';

.blog {
  &__article {
    @include addSpace(margin-left, 2);
    @include addSpace(margin-right, 2);
  }

  &__description {
    font-family: $body-font;
    font-weight: bold;
    color: $light-blue;
    font-size: 1.2rem;
  }

  &__meta {
    display: flex;
    flex-direction: row;
  }

  &__post-nav {
    text-align: left;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 0;

    & > div {
      margin-bottom: 0;
    }

    a {
      color: $primary-color !important;
    }
  }
}

time {
  margin-bottom: 0 !important;
}

@media screen and (min-width: $desktop-breakpoint) {
  .blog {
    &__article {
      @include addSpace(margin-left, 1);
    }
  }
}
