@import '../styles/base/variables';
@import '../styles/util/mixins';
@import '../styles/base/colors';

.blog {
  &__article {
    @include addSpace(margin-left, 2);
    @include addSpace(margin-right, 2);
  }

  &__description {
    font-family: $body-font;
    font-weight: bold;
    color: $light-blue;
    font-size: 1.2rem;
  }

  &__meta {
    display: flex;
    flex-direction: row;
  }
}

time {
  margin-bottom: 0 !important;
}

@media screen and (min-width: $desktop-breakpoint) {
  .blog {
    &__article {
      @include addSpace(margin-left, 1);
    }
  }
}
