@import '../../styles/base/typography';
@import '../../styles/base/colors';
@import '../../styles/util/mixins';
@import '../../styles/base/variables';
@import '../../styles/util/mixins';

.header {
  display: block;
  background-color: $nav-color;
  @include element-height(3);
  margin-bottom: 0;

  &__branding {
    position: absolute;
    width: 100vw;
  }

  .showbox {
    // display: none;
    @include element-height(8);
  }

  .author {
    &-photo {
      position: absolute;
      bottom: 2rem;
      right: 11rem;
      height: 11rem;
      z-index: 9999999;
      margin-bottom: 0;
    }
  }

  &__author-container {
    position: absolute;
    top: 3rem;
    right: 2rem;
    text-align: center;
  }

  &__author-name {
    font-family: $heading-font;
    text-transform: uppercase;

    &--first {
      font-size: 4.5rem;
    }

    &--last {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  &__author-title {
    text-transform: uppercase;
    font-family: $body-font;
    font-weight: bold;
    color: $primary-color;
    line-height: 1.2rem;
    width: 10rem;
    text-align: center;
  }
}

.navigation {
  display: flex;
  flex-direction: row;

  &__hamburger {
    @include addSpace('margin', 1);
  }

  &__mobile-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
      display: flex;
      width: 2rem;
      @include element-height(1);
      @include addSpace('margin', 1);
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;

      &:checked ~ .navigation__hamburger span {
        opacity: 1;
        transform: rotate(-45deg) translate(-3px, -1px);
        background: $white-light;
      }

      &:checked ~ .navigation__hamburger span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:checked ~ .navigation__hamburger span:nth-last-child(3) {
        transform: rotate(45deg) translate(0, -1px);
      }

      &:checked ~ ul {
        transform: none;
      }
    }

    span {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: $white-light;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    @include addSpace('padding-right', 1.5);
    @include addSpace('padding-top', 4);
    background-color: #e63946;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    li {
      margin-bottom: 0;
      transition-delay: 2s;
      text-align: right;
      list-style-type: none;
      @include addSpace('padding-bottom', 1);
    }

    a {
      color: $white-light;
      text-transform: uppercase;
      font-family: $heading-font;
      text-decoration: none;
      font-size: ms(2);
      @include line-height(1.5);

      &:visited {
        color: $white-light;
      }

      &:hover {
        color: $white-light;
      }
    }
  }

  &__side-menu {
    display: none;
  }

  &__active-nav {
    color: $dark-blue !important;
    text-decoration: underline;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .header {
    .author {
      &-photo {
        bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .navigation {
    &__mobile-menu {
      display: none;
    }

    &__side-menu {
      display: block;
      width: 100%;
    }

    text-align: right;
    ul {
      list-style-type: none;
      @include addSpace('margin-right', 1.5);
    }

    li {
      margin-bottom: 0;
    }

    a {
      color: $white-light;
      text-transform: uppercase;
      font-family: $heading-font;
      text-decoration: none;
      font-size: ms(1);
      color: $primary-color;
      @include line-height(1.5);

      &:visited {
        color: $white-light;
      }

      &:hover {
        color: $primary-color;
      }
    }

    &__active-nav {
      color: $primary-color !important;
      text-decoration: underline;
    }

    // &__active-nav {
    //   position: relative;
    //   clear: both;
    //   &::after {
    //     content: ' ';
    //     display: block;
    //     background-color: $primary-color;
    //     width: 0.5rem;
    //     overflow: visible;
    //     position: absolute;
    //     height: 100%;
    //     right: -1rem;
    //     top: 0;
    //   }
    // }
  }

  .header {
    @include width(4);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    &__branding {
      position: relative;
      display: block;
      width: 70%;
      @include margin-top(1);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: $heading-font;

      ul {
        list-style-type: none;
      }

      li {
        margin-bottom: 0;
      }
    }

    .author {
      &-photo {
        position: absolute;
        bottom: 0;
        left: calc(50% - 110px);
        height: 280px;
        z-index: 9999999;
        margin-bottom: 0;
      }
    }

    .showbox {
      display: block;
      margin-bottom: 2rem;
      height: auto;
    }

    &__author-name {
      font-family: $heading-font;
      text-transform: uppercase;

      &--first {
        font-size: 4.5rem;
      }

      &--last {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }

    &__author-title {
      text-transform: uppercase;
      font-family: $body-font;
      font-weight: bold;
      color: $primary-color;
      line-height: 1.2rem;
      text-align: center;
      margin: auto;
    }

    &__author-container {
      position: relative;
      top: 0;
      right: auto;
    }
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .header {
    @include width(3);

    .author {
      &-photo {
        position: absolute;
        bottom: 0;
        left: calc(50% - 110px);
        height: 280px;
        z-index: 9999999;
        margin-bottom: 0;
      }
    }
  }
}

// ---- CLOUD ANIMATION ---- //

$size: 100%;
$duration: 0.5s;
$bg: #e76f51;

$cloud-height: 11%;
$cloud-width: 50%;
$cloud-delay: 1.25s;
$cloud-bg: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);

$parallax-ratio: 1.618;
$cloud-order: 1 4 2 5 3;

.loader {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  width: 100%;
  height: 300px;
  position: relative;
  clip-path: inset(0 0 0 0);
  margin-bottom: 0;
}

.cloud {
  background: $cloud-bg;
  width: $cloud-width;
  position: absolute;
  z-index: 1;
  left: 35%;
  animation: float-across $duration linear infinite;
  opacity: 0;

  @each $position in $cloud-order {
    $i: index($cloud-order, $position);
    &:nth-child(#{$i + 1}) {
      $time: $duration * $i;
      animation-delay: $time;
      animation-duration: $time * $parallax-ratio + $cloud-delay;
      bottom: $cloud-height * 1.515 * $position;
      height: $cloud-height + 1% * (length($cloud-order) - $position);
    }
  }
}

@keyframes float-across {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(200%);
    opacity: 1;
  }
}

.showbox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
