@import '../../styles/base/colors';
@import '../../styles/util/mixins';

.post {
  h2 {
    // Needs to switch to h1 for mobile, but this was the best way I could find to do it
    font-size: ms(2);
    @include line-height(2);
    @include margin-top(2);
    @include margin-bottom(0.5);

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__meta {
    display: flex;
    flex-direction: column-reverse;

    & > div {
      margin-bottom: 0;
    }
  }

  &__description {
    border-left: 8px solid $primary-color;
    @include addSpace(padding-left, 1);
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .post {
    &__meta {
      display: flex;
      flex-direction: row;
    }

    &__date {
      @include addSpace(margin-right, 1);
    }
  }
}
