$white-light: #f1faee;
$primary-red: #e63946;
$light-blue: #a8dadc;
$medium-blue: #457b9d;
$dark-blue: #1d3557;

$primary-color: $primary-red;
$secondary-color: $light-blue;
$tertiary-color: $medium-blue;
